<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas 9 dan 10 Form Input Binding</title>
</head>

<body>
    <div id="app">
        <p>Filter Buku</p>
        <form>
            <input type="text" v-model="searchText">
        </form>
        <br>

        <ul>
            <li v-else v-for="book in filteredBooks">{{book}}</li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            el: '#app',
            data: {
                searchText: '',
                books: [
                    "Kalkulus Dasar",
                    "Fisika Dasar",
                    "Aljabar Linear Elementer",
                    "Aljabar Abstrak",
                    "Algoritma Pemrograman"
                ]
            },
            computed: {
                filteredBooks() {
                    const filteredBooks = this.books.filter(book => {
                        if (this.searchText.length === 0) return this.books;

                        const regex = new RegExp(this.searchText.toLowerCase().trim());
                        return String(book).toLowerCase().match(regex)
                    });

                    return filteredBooks;
                }
            },
        })
    </script>
</body>

</html>